html{
    font-size: 30px;
}

@font-face {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    src: local('Anton Regular'), local('Anton-Regular'), url(https://fonts.gstatic.com/s/anton/v11/1Ptgg87LROyAm3Kz-C8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body{
    font-family: Anton, sans-serif;
}

.page-logo img{
    float: left;
    display:inline;
    height: 75px;
}

.page-logo p {
    float: left;
    display: inline;
    font-size: 1.6rem;
    margin-top: 1px;
}

.grey{
    color: grey;
}

.nav-bar{
    float: right;
    text-align: right;
}
    .nav-bar p {
        display: inline;
        padding-left: 16px;
        padding-right: 16px;
    }

.banner {
    width: 100%;
    height: 80%;
    background-color: grey;
}

.banner-image {
    float: left;
    margin: 10px;
}

.banner-header{
    margin-top: 50px;
    font-size: 3.0rem;
}

.banner-header, p {
    font-size: 0.6rem;
    position: center;
}
